<div class="container">
	<div class="row">
		<div class="col-xs-3">
			<h2>show</h2>

			<h2>New book</h2>
			<%= render 'books/form' %>
		</div>
		<div class="col-xs-9">
			<h3>Books</h3>
			<table>
				<thead>
					<tr>
						<th>a</th>
						<th>b</th>
						<th>c</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>a</td>
						<td>b</td>
						<td>c</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>